body {
	/*padding-top: 60px;*/


	font-family: Papyrus, fantasy;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		
	font-family: Georgia, Times, "Times New Roman", serif;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

	font-size: 15px;
}


hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border-top: 1px solid #bbbbbb
}

.resume-item-name {
	text-align: center;
}

.resume-description {
	color: #888888;
}

.full-width{
	width: 100%;
}

.cente#ff3052 {
    text-align: center;
}

.left-line-list-item{
	border-left: solid 1px #929292
}

.invisible-hr {
	margin-top: 30px;
	margin-bottom: 0px;
	border-top: 0px;
}

.btn-primary {
	width: 100%;
}

.circle-social-icon {
	color: white;
	width: 50px;
	height: 50px;
	margin: 3px;

	border: 2px solid;
	border-radius: 50%;

	text-align: center;
	display:inline-block;
}
.circle-social-icon i{
  position: relative;
  margin-top: -27.5px;
  top: 50%;
  height: 55px;
}
.circle-social-icon:hover {
	background-color:  #ffffff;
	border-color: #ffffff;
	color: #2c3e50;
}

.social-icon {
	color: white;
	width: 55px;
	height: 55px;
	margin: 2px;

	background-color: #444444;
	border: 0px solid;
	border-radius: 0%;

	text-align: center;
	float: left;
	display: block;	
}

.social-icon:hover {
	color: #ffffff;
	background-color: #428bca;
}

.fa-social-icon {
	line-height: 55px;

	vertical-align: middle;
}

/*Navbar Name begin*/
#brand-fn {
	color: #ffffff;
	float: left;
	font-style: italic;	
}

#brand-gn {
	color: #ff3052;
	float: left;
}

.navbar-brand:hover #brand-fn {
	color: #ff3052;
}

.navbar-brand:hover #brand-gn {
	color: #ffffff;
}
/*Navbar Name end*/


#header{
	display: block;
	position: relative;
	color: white;
	background: url(./assets/pic/bigpic4.jpg) no-repeat; 
	background-position-x: center;
	background-position-y: center;
	padding-top:1px;

	background-attachment: relative;
	width: 100%;
	min-height: 450px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-content {
	position: relative;
    top: 60%;
	text-align: center;
}

#pull-down-button {
	display: none;
}

@media only screen and (max-height: 600px) {
	#pull-down-button {
		display: block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		position: absolute;
	    bottom: 0;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		background-color: #555555;
		opacity: 0.55;		
	}
	#pull-down-button:hover {
		opacity: 0.8
	}
	#header-content {
		top: 55%;
	}
}

#nav-btn-list{
	text-transform: uppercase;
}

#header h1{
	font-size: 80px
}

#header h3{
	font-size: 30px
}

@media only screen and (max-width: 767px) {

	#header h1 {
	  font-size: 60px;
	}

	#header h2 {
	  font-size: 18px;
	}

}

#header-social-bar {
	
}

#me {
	background: #2c3e50;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
} 

#work {
	background: #666666;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
} 

#contact {
	background: #272727;
	color: #bbbbbb;	
	width: 100%;
}


#contact #contact-title{
	color: #ff3052;
}


#contact .contact-left {
	max-width: 850px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#contact-right {
	padding: 0px;
	position: relative;
}

#contact-info {

/*	padding-top: 50px;
	padding-bottom: 10px;
*/
	font-weight: bold;
}

#contact-info i {
	color: #ff3052;
	width: 30px;

}

#map-component {
	position: absolute;
	width: 100%;
	height: 78%;
	bottom: 0;
}

#map-bar {
	width: 100%;
	height: 5%;;
}

#map-bar .bar-leftup-corner,
#map-bar .horizontal-bar,
#map-bar .bar-rightup-corner {
	float: left;
	height: 100%;
	background-color: #ff3052;
}
#map-bar .bar-leftup-corner,
#map-bar .bar-rightup-corner {
	width: 5%;
	
}
#map-bar .bar-leftup-corner {
	border-top-left-radius: 50%;
}
#map-bar .bar-rightup-corner {
	border-top-right-radius: 50%;
}
#map-bar .horizontal-bar {
	width: 90%;
}

#map-canvas{
	width: 100%;
	height: 95%;
}

/*resume begin*/
#resume {
	width: 100%;
	color: #2c3e50;

}
#resume-content {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
}

#resume-catalog {
	padding-top: 50px;
	padding-bottom: 50px;
	/*color: #3276b1;	*/
	position: relative;
}
#resume-catalog ul{
	list-style-type: none;
}
#resume-catalog ul>li {
	margin-bottom: 10px;
}
.cl-item >a {
	color: #2c3e50;
	text-decoration: none;
}
.cl-item:hover{
	color: #ff372d;
	list-style-type: circle;
}
.cl-item:hover >a {
	color: #ff372d;
	
}
.highlighted {
	list-style-type: disc;
	color: #ff372d;
}
.highlighted a {
	color: #ff372d;
}

.absolute-top{
	position: absolute;
	top: 50px;
}
.absolute-bottom{
	position: absolute;
	top: 1260px;
}
.fixed {
	position: fixed;
	top: 100px;
}

.skill-tag{
	display: inline-block;
	color: white;
	background-color: #5bc0de;
	padding: 10px 15px;
	margin: 3px 3px;
	border-radius: 4px;
}
/*resume end*/

#footer {
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	color: white;
}

#footer b {
	color: #ff372d;
}




textarea {
	resize: none;
}