body {
	/*padding-top: 60px;*/


	font-family: Papyrus, fantasy;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

	font-family: Georgia, Times, "Times New Roman", serif;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

	font-size: 15px;
}


hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border-top: 1px solid #bbbbbb
}

.resume-item-name {
	text-align: center;
}

.resume-description,
.work-description {
	color: #797979;
}

.full-width{
	width: 100%;
}

.cente#ff3052 {
    text-align: center;
}

.left-line-list-item{
	border-left: solid 1px #929292
}

.invisible-hr {
	margin-top: 30px;
	margin-bottom: 0px;
	border-top: 0px;
}

.btn-primary {
	width: 100%;
}

.circle-social-icon {
	color: white;
	width: 50px;
	height: 50px;
	margin-top: 6px;
	margin-left: 3px;
	margin-bottom: 6px;
	margin-right: 3px;

	border: 2px solid;
	border-radius: 50%;

	text-align: center;
	display:inline-block;
	overflow: hidden;
}
.circle-social-icon i{
  position: relative;
  margin-top: -27.5px;
  top: 50%;
  height: 55px;
}
.circle-social-icon:hover {
	background-color:  #ffffff;
	border-color: #ffffff;
	color: #2c3e50;
}

.social-icon {
	color: white;
	width: 55px;
	height: 55px;
	margin: 2px;

	background-color: #444444;
	border: 0px solid;
	border-radius: 0%;

	text-align: center;
	float: left;
	display: block;
}

.social-icon:hover {
	color: #ffffff;
	background-color: #428bca;
}

.fa-social-icon {
	line-height: 55px;

	vertical-align: middle;
}

/*Navbar Name begin*/
.navbar-brand-fn {
	color: #ffffff;
	float: left;
	font-style: italic;
}

.navbar-brand-gn {
	color: #ff3052;
	float: left;
}

.navbar-brand:hover .navbar-brand-fn {
	color: #ff3052;
}

.navbar-brand:hover .navbar-brand-gn {
	color: #ffffff;
}
/*Navbar Name end*/


#header{
	display: block;
	position: relative;
	color: white;
	background: url(./handle.jpg) no-repeat;
	background-position: center center;

	padding-top:1px;

	background-attachment: relative;
	width: 100%;
	min-height: 450px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-content {
	position: relative;
    top: 60%;
	text-align: center;
	margin-top: -104px;
}

#find-more-button {
	display: none;
}


@media only screen and (max-height: 600px) {
	#find-more-button {
		display: block;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		position: absolute;
	    bottom: 0;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		background-color: #555555;
		opacity: 0.55;
	}

	#find-more-button:active{
		opacity: 0.8
	}
	#header-content {
		top: 55%;
		margin-top: -60px;
	}
}

#nav-btn-list{
	text-transform: uppercase;
}

#header h1{
	font-size: 80px
}

#header h3{
	font-size: 30px
}

@media only screen and (max-width: 767px) {

	#header h1 {
	  font-size: 60px;
	}

	#header h2 {
	  font-size: 18px;
	}

}

#header-social-bar {

}

#me {
	background: #2c3e50;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

#work {
	color: #2c3e50;
}

#work-banner {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 0px #777777;
	margin: 0 0 30px 0;
	padding: 150px 0;

	background: url(./aqueduct.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work-sample {
	padding: 80px 0;
}

.work-img {
	transition: all 1s ease-in-out;
}

.work-img:hover {
	-webkit-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

#contact {
	background: #272727;
	color: #bbbbbb;
	width: 100%;
}


#contact #contact-title{
	color: #ff3052;
}


#contact{
	padding-top: 50px;
	padding-bottom: 50px;
}

#contact form .row .form-control-feedback {
	right: 15px;
}

#contact form .form-control-feedback{
	display: none;
}

#contact .has-error .form-control-feedback,
#contact .has-error .help-block,
#contact .has-error .control-label {
 	color: #df2020;
}
#contact .has-error .form-control {
	border-color: #df2020;
}

#contact .has-success .form-control-feedback,
#contact .has-success .help-block,
#contact .has-success .control-label {
 	color: #3FBB41;
}
#contact .has-success .form-control {
	border-color: #3FBB41;
}


#contact-right {
	padding: 0px;
	position: relative;
}

#contact-info {
	font-weight: bold;
}

#contact-info i {
	color: #ff3052;
	width: 30px;

}

#map-component {
	position: absolute;
	width: 95%;
	right: 0;
	bottom: 0;
}

#map-top-bar {
	width: 100%;
	height: 25px;
	background-color: #ff3052;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#map-bottom-bar {
	width: 100%;
	height: 25px;
	background-color: #ff3052;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#map-canvas{
	width: 100%;
	height: 495px;
}

/*resume begin*/
#resume {
	color: #2c3e50;

}
#resume-content {
	padding-top: 80px;
	padding-bottom: 80px;
}

#resume-catalog {
	padding: 80px 0;
	position: relative;
}
#resume-catalog ul{
	list-style-type: none;
}
#resume-catalog ul>li {
	padding-bottom: 10px;
}
.cl-item >a {
	color: #2c3e50;
	text-decoration: none;
}
.cl-item:hover{
	color: #ff372d;
	list-style-type: circle;
}
.cl-item:hover >a {
	color: #ff372d;

}
.highlighted {
	list-style-type: disc;
	color: #ff372d;
}
.highlighted a {
	color: #ff372d;
}

.absolute-top{
	position: absolute;
	top: 80px;
}
.absolute-bottom{
	position: absolute;
	bottom: 200px;
}
.fixed {
	position: fixed;
	top: 130px;
}
.main-skill-bar:hover .progress-bar{
	background-color: #5cb85c;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
.skill-tag{
	display: inline-block;
	color: white;
	background-color: #5bc0de;
	padding: 10px 15px;
	margin: 3px 3px;
	border-radius: 4px;
}
/*resume end*/

#footer {
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	color: white;
}

#footer b {
	color: #ff372d;
}




textarea {
	resize: none;
}
